*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    width: 100%;
    
}
section img{
    display: block;
    position: absolute;
    max-width: 100%;
    
}
header ul li {
    z-index: -1;
    list-style: none;
    text-decoration: none;
    height: inherit;
    height: 7vh;
}
header ul li img{
    width: 8vw;
    display: flex;
    background: left;
    height: 4vh;
}
